@charset "UTF-8";
/* CSS Document */

#newsScroller{
	overflow:hidden;
}

.shardPanel{
	float: left;
	width: 50%;
}

.skillBox{
	text-align: center;
	width: 280px;
	margin: 0 auto;
	padding: 10px 0px;
	border: 1px solid black;
}

.skillText{
	vertical-align: super;
	padding-left: 10px;
	display: inline-block;
}

.createParahumansPanel{
	float:right;
	width:50%;
}
.shard_container{
	width: 50%;
	cursor: pointer;
	margin-left: 25%;
}

.settingsPanel{
	cursor:pointer;
}

#mainGame{
	width: 600px;
	margin:0 auto;
	float: left;
    background-color: white;	
}

.title{
	text-align:center;	
}

.cost{
	margin-left:20px;
}

.createParahuman{
	border:3px solid black;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size: 21px;	
	cursor: pointer;
}

.unableToBuy{
	background-color: rgba(39,62,84,0.52);
    z-index: 2;
    color: gray;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    float: left;
}

.unavailable{
	background: repeating-linear-gradient(45deg,#000000,#000000 5px,#e3e3e3 5px,#e3e3e3 20px); 
	width: 281px;
	margin: 0 auto; 
	opacity: .5;
	cursor: pointer;
}
#parahuman_container{
	border: 3px solid black;
    padding: 20px;	
}

#parahuman{
	display: inline-block; font-size: 20px; width: 100%; border-bottom: 1px solid black;	
}

#protrait{
	float:left;
}

#stats{
	float:left;	
	width: 40%;
}

#stats p {
	margin-top:0; margin-left:20px;	
}

#life{
	float:right;	
	width: 50%;
}

.locked{
	display:none;
}

.skillsPanel {
	width:300px;
	float:left;
	height:420px;
	background:#d9dada;
	position:relative;
	left:-300px;
	z-index:-1;

}
.slider-arrow {
	padding:5px;
	width:46px;
	float:left;
	background:#d9dada;
	font:400 12px Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
	position:relative;
	left:-300px;
}
.mainGame{
    margin: 0 auto;
}

.available{
	background: white; 
	width: 281px;
	margin: 0 auto; 
	opacity: 1;
}
.levelUpSkill{
	border: 1px solid black;
	padding: 2px 8px;
	border-radius: 6px;
	cursor:pointer;
}
#settings{
	display:none;
	width:360px;
	height:250px;	
}
#settings h1{
	text-align:center;
}
#deleteSave{
	margin-bottom:10px;	
}
.fancybox{
	color: #000;	
}